<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">

    <!-- Custom Css -->
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- <link rel="stylesheet" href="/public/css/material-design.css"> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=greek"
        rel="stylesheet">

    <!-- Jquery required for bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.js"></script>

    <!--Angular App -->
    <script src="/public/javascripts/angularApp.js"></script>

    <!-- controllers -->
    <script src="/public/javascripts/controllers/homepageCtrl.js"></script>
    <script src="/public/javascripts/controllers/registerCtrl.js"></script>
    <script src="/public/javascripts/controllers/loginCtrl.js"></script>
    <script src="/public/javascripts/controllers/productsCtrl.js"></script>

    <!-- services -->
    <script src="/public/javascripts/services/productsServices.js"></script>
    <script src="/public/javascripts/services/adminServices.js"></script>
    <script src="/public/javascripts/services/uiServices.js"></script>
    <script src="/public/javascripts/services/routingServices.js"></script>

    <!-- Directives -->
    <script src="/public/javascripts/directives/errSrc.js"></script>
    <script src="/public/javascripts/directives/imageUpload.js"></script>
    <script src="/public/javascripts/directives/uiMessage.js"></script>

    <title>Healthy Products</title>
</head>

<body>
    <div ng-app="healthy_product_app">
        <div ng-include="'./public/views/main-site-templates/navigation.html'"></div>

        <div ng-view></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>