<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <!-- Custom scripts -->
    <script src="/public/javascripts/angularApp.js"></script>

    <!-- controllers -->
    <script src="/public/javascripts/controllers/homepage.js"></script>

    <!-- services -->
    <script src="/public/javascripts/services/productsServices.js"></script>

    <title>Healthy Products</title>
</head>

<body>
    <div ng-app="healthy_product_app">
        <div ng-view></div>
    </div>
</body>

</html>