<div class="container-fluid main-container categories">
    <div class="row add">
        <div class="col-md-12 text-right">
            <button type="button" class="btn-fill" data-toggle="modal" data-target="#registerModal">Νεο Προϊον</button>
        </div>
    </div>
    <div class="container-fluid white-wrapper">


        <h3>Κατηγορίες</h3>
        <div class="container-fluid grey-wrapper">


            <div class="row">
                <div class="col-md-12">
                    col
                    <span class="float-right">
                        <img src="public/img/svg-icons/next.svg" alt="" style="width: 24px;">
                    </span>
                </div>
                <div class="col-md-12">
                    Υποκατηγορια 1
                </div>
                <div class="col-md-12">
                    Υποκατηγορια 2
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    col
                </div>
            </div>
        </div>
        <!-- <div class="row stripped">

            <div class="col-md-10">
                Κατηγορία 1
            </div>
            <div class="col-md-2 text-right">
                2
            </div>
            <div class="col-md-12 sub-category">
                <span>Υποκατηγορια</span>
                <span class="float-right">2</span>
            </div>
            <div class="col-md-12 sub-category">
                <span>Υποκατηγορια 2</span>
                <span class="float-right">2</span>
            </div>
        </div>
        <div class="row stripped">
            <div class="col-md-10">
                Κατηγορία 2
            </div>
            <div class="col-md-2  text-right">
                2
            </div>
            <div class="col-md-12 sub-category">
                <span>Υποκατηγορια</span>
                <span class="float-right">2</span>
            </div>
            <div class="col-md-12 sub-category">
                <span>Υποκατηγορια 2</span>
                <span class="float-right">2</span>
            </div>
        </div>
        <div class="row stripped">
            <div class="col-md-10">
                Κατηγορία 2
            </div>
            <div class="col-md-2  text-right">
                2
            </div>
            <div class="col-md-12 sub-category">
                <span>Υποκατηγορια</span>
                <span class="float-right">2</span>
            </div>
            <div class="col-md-12 sub-category">
                <span>Υποκατηγορια 2</span>
                <span class="float-right">2</span>
            </div>
        </div> -->
    </div>
</div>