<div class="container-fluid main-container categories">
    <div class="row add">
        <div class="col-md-12 text-right">
            <button type="button" class="btn-fill" ng-click="addNewCategory()">Νέα Κατηγορία</button>
        </div>
    </div>
    <div class="container-fluid white-wrapper">
        <h3>Κατηγορίες</h3>
        <div class="container-fluid">

            <div class="row category-wrapper vert-align " ng-repeat="category in categories track by $index">
                <div class="col">
                    <span>{{category.name}}</span>
                </div>
                <div class="col text-right">
                    <span class="btn-outline" ng-click="editCategory(category)">
                        <img src="/public/img/svg-icons/file-or.svg" class="img-fluid" style="max-width:25px;">
                    </span>
                    <span class="btn-fill mouse-hand" ng-click="deleteCategory(category)">
                        <img src="/public/img/svg-icons/dustbin-wh.svg" alt="" class="img-fluid" style="max-width:25px;">
                    </span>
                    <span ng-click="warningModal(category)">e</span>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true"
    ng-if="addingNewCategory">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Νέα Κατηγορία</h5>
                <ui-message message="message" dur="3000"></ui-message>
                <button type="button" class="close" ng-click="hideModalById('registerModal'); addingNewCategory = false" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="row" ng-submit="registerCategory(newCategory); newCategory={}">
                    <div class="form-group col-md-6">
                        <label>Τίτλος*</label>
                        <input type="text" class="form-control" placeholder="Τίτλος" ng-model="newCategory.name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Υπέρ-Κατηγορία</label>
                        <select class="form-control" ng-model="newCategory.parent" ng-options="category.name as category.name for category in categories">
                            <option value="">Καμία Υπέρ-Κατηγορία</option>
                        </select>
                    </div>
                    <span style="margin-left: 15px">Τα πεδία με αστερίσκο (*) είναι υποχρεωτικά</span>
                    <div class="form-group col-md-12 text-right">
                        <button type="submit" class="btn-fill ">Αποθήκευση</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true" ng-if="editingCategory">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Επεξεργασία Κατηγορίας</h5>
                <ui-message message="message" dur="3000"></ui-message>
                <button type="button" class="close" ng-click="hideModalById('editModal'); editingCategory = false" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="row " ng-submit="updateCategory(category)">
                    <div class="form-group col-md-6">
                        <label>Τίτλος *</label>
                        <input type="text" class="form-control" placeholder="Name" ng-model="category.name">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Υπέρ-Κατηγορία</label>
                        <select class="form-control" ng-model="category.parent" ng-options="category.name as category.name for category in restCategories">
                            <option value="">Καμία Υπέρ-Κατηγορία</option>
                        </select>
                    </div>

                    <span style="margin-left: 15px">Τα πεδία με αστερίσκο (*) είναι υποχρεωτικά</span>
                    <div class="form-group col-md-12 text-right">
                        <button type="submit" class="btn-fill">Αποθήκευση</button>
                    </div>
                    <ui-message message="message" dur="3000"></ui-message>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true"
    ng-if="deletingStuff">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warningModalLabel">Διαγραγη Προϊόντος</h5>
                <ui-message message="message" dur="3000"></ui-message>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="hideModalById('warningModal'); deletingStuff = false">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="/public/img/svg-icons/warning.svg" alt="" class="img-fluid" style="max-width: 80px;">
                </div>
                <h5>Είστε σίγουρος οτι θέλετε να διαγράψετε το προϊόν
                    <br>
                    <span class="text-center">{{category.name}} ?</span>
                </h5>

                <div class="form-group col-md-12 text-right">
                    <button type="button" class="btn-outline" ng-click="hideModalById('warningModal')">Ακύρωση</button>
                    <button type="submit" class="btn-fill" ng-click="deleteCategory(category)">Διαγραφή</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>