<div class="container-fluid main-container categories">
    <div class="row add">
        <div class="col-md-12 text-right">
            <button type="button" class="btn-fill" data-toggle="modal" data-target="#registerModal">Νέα Κατηγορία</button>
        </div>
    </div>
    <div class="container-fluid white-wrapper">
        <h3>Κατηγορίες</h3>
        <div class="container-fluid grey-wrapper">


            <div class="row">
                <div class="col-md-12">
                    col
                    <span class="float-right">
                        <img src="public/img/svg-icons/next.svg" alt="" style="width: 24px;">
                    </span>
                </div>
                <div class="col-md-12">
                    Υποκατηγορια 1
                </div>
                <div class="col-md-12">
                    Υποκατηγορια 2
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    col
                </div>
            </div>
        </div>
       
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Νέα Κατηγορία</h5>
                    <p ui-message message="errMsg"></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="row" ng-submit="registerProduct(newProduct)">
                        <div class="form-group col-md-6">
                            <label for="">Name</label>
                            <input type="text" class="form-control" placeholder="Name" ng-model="newProduct.name">
                        </div>
                        
                        <div class="form-group col-md-12 text-right">
                            <button type="submit" class="btn-fill ">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>