<div class="container main-container login-page">
    <div class="row h-100 align-items-center">
        <div class="col-lg-12 justify-content-md-center">
            <div class="login-wrapper">
                <h3 class="text-center">Καλώς Ορίσατε</h3>
                <form ng-submit="onLogin(admin)">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="admin.username" required>
                        <span class="bar"></span>
                        <span class="test" for="">Όνομα Χρήστη</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" ng-model="admin.password" required>
                        <span class="bar"></span>
                        <span class="test" for="">Κωδικός</span>

                    </div>
                    <ui-message message="message" dur="3000"></ui-message>
                    
                    <div class="form-group">
                        <a ng-href="#/register">
                            <button type="button" class="btn-fill">Εγγραφή</button>
                        </a>
                        <button type="submit" class="btn-fill float-right">Σύνδεση</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>