<div class="container main-container login-page">
    <div class="row h-100 align-items-center">
        <div class="col-lg-12 justify-content-md-center">
            <div class="login-wrapper">
                <h3 class="text-center">Καλώς Ορίσατε</h3>
                <form ng-submit="onLogin(admin)">
                    <div class="form-group">

                        <input type="text" class="form-control" ng-model="admin.username" required>
                        <span class="bar"></span>
                        <span class="test" for="">Όνομα Χρήστη</span>


                    </div>
                    <div class="form-group">
                        <!-- <label for="">Κωδικός</label> -->
                        <input type="password" class="form-control" ng-model="admin.password" required>
                        <span class="bar"></span>
                        <span class="test" for="">Κωδικός</span>

                    </div>
                    <div ui-message message="message"></div>
                    
                    <!-- <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"> Check me out
                        </label>
                    </div> -->
                    <div class="form-group text-right">
                        <button type="button" class="btn-fill" ng-click="registerClicked = true">Register</button>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn-fill">Submit</button>
                    </div>
                </form>
                <div ng-show="registerClicked">
                    <form action="admin/pre-register" method="post">
                        <input type="text" name="registerKey" ng-model="registerKey">
                        <button type="submit" class="btn-fill">Give me the form</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>