<div class="container-fluid main-container order">
    <!-- <div class="row add">
            <div class="col-md-12 text-right">
                <button type="button" class="btn-fill">Νέα Κατηγορία</button>
            </div>
        </div> -->
    <div class="row">
        <div class="col-md-8">
            <div class="customer-information white-wrapper">
                <h5>Στοιχεία Πελάτη</h5>
                <div class="row">
                    <div class="col-md-6">
                        <span>Όνομα:</span>
                        <span>Νικος</span>
                    </div>
                    <div class="col-md-6">
                        <span>Επώνυμο:</span>
                        <span>Κάλαντας</span>
                    </div>
                    <div class="col-md-6">
                        <span>Email:</span>
                        <span>nikos@gmail.com</span>
                    </div>
                    <div class="col-md-6">
                        <span>Τηλέφωνο:</span>
                        <span>6972501863</span>
                    </div>
                    <div class="col-md-6">
                        <span>Χώρα :</span>
                        <span>Ελλάδα</span>
                    </div>
                    <div class="col-md-6">
                        <span>Πόλη :</span>
                        <span>Πάτρα</span>
                    </div>
                    <div class="col-md-6">
                        <span>Διεύθυνση Αποστολής:</span>
                        <span>Ασημάκη Φωτήλα 39</span>
                    </div>
                    <div class="col-md-6">
                        <span>Ταχυδρομικός Κώδικας:</span>
                        <span>26 500</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="order-information white-wrapper">
                <h5>Στοιχεία Παραγγελίας</h5>
                <strong>Αριθμός Παραγγελίας: </strong>
                <span>1</span>
                <br>
                <strong>Ημερομηνία: </strong>
                <span>15/07/2017</span>
                <h5>Στοιχεία Αποστολής</h5>
                <strong>Αποστολή:</strong>
                <span>Γενική Ταχυδρομική - 10.00€</span>
                <h5>Στοιχεία Πληρωμής</h5>
                <strong>Πληρωμή:</strong>
                <span>Τραπεζικη Κατάθεση - Alphbank</span>
            </div>
        </div>
        <div class="col-md-12 order-section">
            <div class="order-items white-wrapper">
                <h5>Προϊόντα Παραγγελίας</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Προϊόν</th>
                            <th scope="col">Βάρος</th>
                            <th scope="col">Ποσότητα</th>
                            <th scope="col" class="text-right">Τιμή Μονάδας</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Προίόν 1</th>
                            <td>10kg</td>
                            <td>χ5</td>
                            <td class="text-right">10.00€</td>
                        </tr>
                        <tr>
                            <th scope="row">Προίόν 2</th>
                            <td>10kg</td>
                            <td>χ5</td>
                            <td class="text-right">10.00€</td>
                        </tr>
                        <tr>
                            <th scope="row">Προίόν 3</th>
                            <td>10kg</td>
                            <td>χ5</td>
                            <td class="text-right">10.00€</td>
                        </tr>

                        <tr class="total1">
                            <th scope="row" colspan="3">Σύνολο Προϊόντων</th>
                            <td class="text-right">30€</td>
                        </tr>
                        <tr class="total2">
                            <th scope="row" colspan="3">Εξόδα Αποστολής</th>
                            <td class="text-right">10€</td>
                        </tr>
                        <tr class="total3">
                            <th scope="row" colspan="3">Έξοδα Πληρωμής</th>
                            <td class="text-right">0€</td>
                        </tr>
                        <tr class="total4">
                            <th scope="row" colspan="3">Τελική Τιμή</th>
                            <td class="text-right">40€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>