<div class="container-fluid main-container orders">

    <div class="container-fluid white-wrapper">

        <div class="container-fluid table-responsive">
            <h3>Παραγγελίες</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Α/Α</th>
                        <th scope="col">Ημερομηνία Δημιουργίας</th>
                        <th scope="col">Τελευταία Ανανέωση: </th>
                        <th scope="col">'Ονομα</th>
                        <th scope="col">Επώνυμο</th>
                        <th scope="col">Τιμή</th>
                        <th scope="col">Τρόπος Πληρωμής</th>
                        <th scope="col">Επιλογές</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orders track by $index">
                        <th scope="row">{{order.id}}</th>
                        <td>{{order.creationDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td am-time-ago="order.lastUpdate"></td>
                        <td>{{order.customer.firstname}}</td>
                        <td>{{order.customer.lastname}}</td>
                        <td>{{order.total | number: 2}}€</td>
                        <td>{{order.payment.method}}</td>
                        <td>
                            <a ng-href="#/orders/{{order.id}}" class="btn-outline">
                                <img src="/public/img/svg-icons/file-or.svg" class="img-fluid">
                            </a>
                            <button class="btn-fill">
                                <img src="/public/img/svg-icons/dustbin-wh.svg" ng-click="deleteOrder(order)" class="img-fluid">
                            </button>
                            <span ng-click="warningModal(order)">delete</span>
                        </td>
                    </tr>
                </tbody>
            </table>


            <ul class="pagination justify-content-end">
                <li ng-class="currentPage === 1 ? 'active' : null" class="page-item">
                    <a class="page-link" ng-href="#/orders/page/1">
                        1
                    </a>
                </li>
                <li class="page-item" ng-if="currentPage - 1 >= 3">
                    <a class="page-link">...</a>
                </li>
                <li ng-class="currentPage === ($index + 1) ? 'active' : null" class="page-item" ng-repeat="page in pages track by $index"
                    ng-if="(currentPage - ($index + 1) === 1 
                                    || ($index + 1) - currentPage === 1
                                    || currentPage === ($index + 1))
                                    &&  ($index + 1) !== 1
                                    && ($index + 1) !== pages.length">
                    <a class="page-link" ng-href="#/orders/page/{{$index + 1}}">
                        {{$index + 1}}
                    </a>
                </li>
                <li class="page-item" ng-if="totalPages - currentPage >= 3">
                    <a class="page-link">...</a>
                </li>
                <li ng-class="currentPage === pages.length ? 'active' : null" class="page-item" ng-if="pages.length !== 1 && !!pages.length">
                    <a class="page-link" ng-href="#/orders/page/{{pages.length}}">
                        {{pages.length}}
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true"
    ng-if="deletingStuff">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warningModalLabel">Διαγραγη Προϊόντος</h5>
                <ui-message message="message" dur="3000"></ui-message>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="hideModalById('warningModal'); deletingStuff = false">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="/public/img/svg-icons/warning.svg" alt="" class="img-fluid" style="max-width: 80px;">
                </div>
                <h5>Είστε σίγουρος οτι θέλετε να διαγράψετε το προϊόν
                    <br>
                    <span class="text-center">{{category.name}} ?</span>
                </h5>

                <div class="form-group col-md-12 text-right">
                    <button type="button" class="btn-outline" ng-click="hideModalById('warningModal')">Ακύρωση</button>
                    <button type="submit" class="btn-fill" ng-click="deleteCategory(category)">Διαγραφή</button>
                </div>
                </form>
            </div>
        </div>
    </div>