<div class="container-fluid main-container orders">
    <!-- <div class="row add">
        <div class="col-md-12 text-right">
            <button type="button" class="btn-fill">Νέα Κατηγορία</button>
        </div>
    </div> -->
    <div class="container-fluid white-wrapper">

        <div class="container-fluid table-responsive">
            <h3>Παραγγελίες</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Α/Α</th>
                        <th scope="col">Ημερομηνία</th>
                        <th scope="col">'Ονομα</th>
                        <th scope="col">Επώνυμο</th>
                        <th scope="col">Τιμή</th>
                        <th scope="col">Τρόπος Πληρωμής</th>
                    </tr>
                </thead>
                <tbody>
                    <tr onclick="window.location='#/order';">
                        <th scope="row">1</th>
                        <td>15/05/2017</td>
                        <td>Νίκος</td>
                        <td>Κάλαντας</td>
                        <td>13€</td>
                        <td>Αντικαταβολή</td>
                    </tr>
                    <tr onclick="window.location='#/order';">
                        <th scope="row">1</th>
                        <td>15/05/2017</td>
                        <td>Νίκος</td>
                        <td>Κάλαντας</td>
                        <td>13€</td>
                        <td>Αντικαταβολή</td>
                    </tr>
                    <tr onclick="window.location='#/order';">
                        <th scope="row">1</th>
                        <td>15/05/2017</td>
                        <td>Νίκος</td>
                        <td>Κάλαντας</td>
                        <td>13</td>
                        <td>Αντικαταβολή</td>
                    </tr>
                    <tr onclick="window.location='#/order';">
                        <th scope="row">1</th>
                        <td>15/05/2017</td>
                        <td>Νίκος</td>
                        <td>Κάλαντας</td>
                        <td>13€</td>
                        <td>Αντικαταβολή</td>
                    </tr>

                </tbody>
            </table>

            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>

        </div>
    </div>
</div>