<div class="container main-container product-page">
    <div class=" white-wrapper">
        <form ng-submit="updateProduct(product)">

            <div class="row">

                <div class="col-md-6">

                    <h3>Προτεινόμενη Εικόνα</h3>
                    <img class="img-fluid mb-2 featured-image" ng-src="{{product.featuredImage}}" err-src="public/img/error-image.jpg" style="max-height:200px;">
                    <hr>

                    <div class="row">

                        <div class="col-md-12">
                            <button class="btn btn-sm btn-fill" type="button" ng-click="startUploadingPictures()" style="margin-bottom: 5px">Ανέβασμα Εικόνας</button>
                        </div>
                        <input id="picture-input" style="display: none" type="file" class="form-control" placeholder="Add new image" image-upload
                            images="product.images" accept=".jpg, .jpeg, .png">
                        <div ng-repeat="image in product.images track by $index" class="col-md-4 mb-2">
                            <img ng-src="{{image}}" class="img-fluid">
                            <div class="img-actions">
                                <div class="row">
                                    <div class="col-6 ">
                                        <img class="img-featured mouse-hand" src="/public/img/svg-icons/star.svg" ng-if="product.featuredImage !== image" ng-click="product.featuredImage = image">
                                        <img class="img-featured mouse-hand" src="/public/img/svg-icons/star-fill.svg" ng-if="product.featuredImage === image" ng-click="product.featuredImage = ''">
                                    </div>
                                    <div class="col-6">
                                        <img src="/public/img/svg-icons/delete-cross.svg" alt="" class="remove-img mouse-hand" ng-click="product.images.splice($index, 1); product.featuredImage === image ? product.featuredImage = '' : null">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Όνομα </label>
                        <input type="text" class="form-control" placeholder="" ng-model="product.name">
                    </div>
                    <div class="form-group">
                        <label>Περιγραφή</label>
                        <textarea class="form-control" rows="3" ng-model="product.description"></textarea>
                    </div>
                    <hr>
                    <div class="row">
                        <h3 class="col-12">Χαρακτηριστικά</h3>
                        <div class="col-sm-6 form-group">
                            <label>Τιμή</label>
                            <input type="number" step="0.01" class="form-control" placeholder="Price" ng-model="product.price">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Τιμή με έκπτωση</label>
                            <input type="number" step="0.01" class="form-control" placeholder="Sales Price" ng-model="product.salesPrice">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Βάρος</label>
                            <input type="number" step="0.01" class="form-control" placeholder="Weight" ng-model="product.weight">
                        </div>
                       
                        <div class="col-sm-6 form-group">
                            <label>Κατηγοριοποίηση</label>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-fill dropdown-toggle" type="button" id="dropdownMenuButton" ng-click="categoriesDropDownOpen = !categoriesDropDownOpen"
                                    aria-haspopup="true" aria-expanded="false">
                                    Επιλέξτε Κατηγορία
                                </button>
                                <div ng-class="categoriesDropDownOpen ? 'dropdown-menu show' : 'dropdown-menu'" aria-labelledby="dropdownMenuButton">
                                    <div class="mouse-hand dropdown-item" ng-repeat="category in categories" ng-click="toggleProductCategory(category)" ng-style="categoryIsInProduct(category) ? {color: 'red'} : {} ">
                                        {{category.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Απόθεμα</label>
                            <input type="number" class="form-control" placeholder="Απόθεμα" ng-model="product.stock">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Ποσότητα Προϊόντος ανά Πώληση</label>
                            <input type="text" class="form-control" placeholder="Αριθμός τμχ / Ποσότητα (π.χ 100ml)" ng-model="product.amountForSale">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Προτεραιότητα</label>
                            <input type="number" class="form-control" placeholder="Προτεραιότητα εμφάνισης (αριθμός)" ng-model="product.priority">
                        </div>
                    </div>
                </div>

            </div>
            <!-- ./Product Info Row -->

            <div class="row text-right">
                <div>
                    <strong>Αριθμός Προβολών:</strong> {{product.viewCounter}}</div>
                <div class="col-12">
                    <button type="submit" class="btn-fill mouse-hand">Αποθήκευση</button>
                    <a class="btn-outline unstyled-link" ng-href="#/products">Ακύρωση</a>
                </div>
            </div>

        </form>
    </div>
</div>