<div class="container-fluid main-container product-listing">
    <div class="row add">
        <div class="col-md-12 text-right">
            <button type="button" class="btn-fill">Νεο Προϊον</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Όνομα Προϊόντος</th>
                        <th scope="col">Κατηγορία</th>
                        <th scope="col" class="w-22">Επιλογές</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Προϊόν 1</td>
                        <td>Κατηγορία</td>
                        <td>
                            <button type="button" class="btn-outline">
                                <img src="/static/img/svg-icons/file-or.svg" alt="" class="img-fluid">
                            </button>
                            <button type="button" class="btn-fill">
                                <img src="/static/img/svg-icons/dustbin-wh.svg" alt="" class="img-fluid">
                            </button>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Προϊόν 2</td>
                        <td>Κατηγορία</td>
                        <td>
                            <button type="button" class="btn-outline">
                                <img src="/static/img/svg-icons/file-or.svg" alt="" class="img-fluid">
                            </button>
                            <button type="button" class="btn-fill">
                                <img src="/static/img/svg-icons/dustbin-wh.svg" alt="" class="img-fluid">
                            </button>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Προϊόν 3</td>
                        <td>Κατηγορία</td>
                        <td>
                            <button type="button" class="btn-outline">
                                <img src="/static/img/svg-icons/file-or.svg" alt="" class="img-fluid">
                            </button>
                            <button type="button" class="btn-fill">
                                <img src="/static/img/svg-icons/dustbin-wh.svg" alt="" class="img-fluid">
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>