<div class="container-fluid main-container product-listing">
    <div class="row add">
        <div class="col-md-12 text-right">
            <button type="button" class="btn-fill" data-toggle="modal" data-target="#registerModal" ng-click="getCategories()">Νεο Προϊον</button>
        </div>
    </div>
    <div ui-message message="message"></div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Εικόνα</th>
                        <th scope="col">Όνομα Προϊόντος</th>
                        <th scope="col">Κατηγορία</th>
                        <th scope="col">Επιλογές</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products track by $index">
                        <td scope="row">{{product.id}}</th>
                        <td><img style="height: 40px; width: 100px" ng-src="{{product.featuredImage}}" err-src="{{product.images[0]}}"></td>
                        <td>{{product.name}}</td>
                        <td>{{product.category.toString()}}</td>
                        <td>
                            <a ng-href="#/products/{{product.slug}}" class="btn-outline">
                                <img src="/public/img/svg-icons/file-or.svg" alt="" class="img-fluid">
                            </a>
                            <button type="button" class="btn-fill" ng-click="deleteProduct(product)">
                                <img src="/public/img/svg-icons/dustbin-wh.svg" alt="" class="img-fluid">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <p ui-message message="errMsg"></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="row" ng-submit="registerProduct(newProduct)">
                    <div class="form-group col-md-6">
                        <label for="">Name</label>
                        <input type="text" class="form-control" placeholder="Name" ng-model="newProduct.name">
                    </div>
                    <!-- <div class="form-group col-md-6">
                        <label for="">Slug</label>
                        <input type="text" class="form-control" placeholder="Slug">
                    </div> -->
                    <div class="form-group col-md-6">
                        <label for="">Price</label>
                        <input type="number" class="form-control" placeholder="Price" ng-model="newProduct.price">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Sales Price</label>
                        <input type="number" class="form-control" placeholder="Sales Price" ng-model="newProduct.salesPrice">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Weight</label>
                        <input type="number" class="form-control" placeholder="Weight" ng-model="newProduct.weight">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Sku</label>
                        <input type="text" class="form-control" placeholder="Sku" ng-model="newProduct.sku">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Category</label>
                        <select class="form-control" ng-model="selectedCategory" ng-options="category as category.name for category in categories">
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Stock</label>
                        <input type="number" class="form-control" placeholder="Stock" ng-model="newProduct.stock">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">Description</label>
                        <textarea class="form-control" id="" rows="3" ng-model="newProduct.description"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">Images</label>
                        <input type="file" class="form-control" placeholder="Add new image" image-upload images="newProduct.images">
                        <div ng-repeat="image in newProduct.images track by $index">
                            <img ng-src="{{image}}" alt="" style="height: 100px; width: 150px">
                            <button class="btn btn-danger" type="button" ng-click="newProduct.images.splice($index, 1)">X</button>
                        </div>
                    </div>
                    <div class="form-group col-md-12 text-right">
                        <button type="submit" class="btn-fill ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>