<form ng-submit="onRegister(newAdmin)">
    <input type="text" ng-model="newAdmin.firstname">firstname
    <input type="text" ng-model="newAdmin.lastname">lastname
    <input type="text" ng-model="newAdmin.username">username
    <input type="text" password ng-model="newAdmin.password">password
    <!-- Confirm Password -->
    <input type="text" ng-change="matchPasswords(newAdmin.password, passwordAgain)" ng-model="passwordAgain">confirm password
    <input type="email" ng-model="newAdmin.email">email
    <button type="submit" ng-disabled="submitDisabled" >Εγγραφή</button>
    <p ng-show="submitDisabled">Παρακαλώ ελέγξτε τα πεδία της φόρμας.</p>
</form>

<div ui-message message="message">
</div>
