<div class="container-fluid main-container site-sections">
    <div class="row tabs tab-nav" ng-init="tab = 1">
        <div class="col" ng-class="{active:tab===1}" ng-click="tab = 1"> Navigation</div>
        <div class="col" ng-class="{active:tab===2}" ng-click="tab = 2"> Intro Text</div>
        <div class="col" ng-class="{active:tab===3}" ng-click="tab = 3"> Banks</div>
        <div class="col" ng-class="{active:tab===4}" ng-click="tab = 4"> Slider</div>
        <div class="col" ng-class="{active:tab===5}" ng-click="tab = 5"> Banks</div>
        <!-- <div ng-class="da-line"></div> -->
    </div>
    <!-- <div class="row add">
        <div class="col-md-12 text-right">
            <button type="button" class="btn-fill" ng-click="addNewCategory()">Νέα Κατηγορία</button>
        </div>
    </div> -->
    <div class="row tab-content">
        <div ng-show="tab === 1" class="col-12">
            <h3 class="text-center">Navigation</h3>
            <form ng-submit="updateNavigationBar(navCategories)">
                <div class="row">
                    <div class="col-12 mat-section-padding mb-2">
                        <label> Αναζήτηση Κατηγορίας</label>
                        <input type="text" ng-model="categorySearchText" ng-change="filterCategories(categorySearchText)" class="form-control material-input-form"
                            placeholder="Φρέσκια Γυρη">

                    </div>
                    <div class="col-sm-6 brdr-right">
                        <h3 class="text-center">Κατηγορίες</h3>
                        <div ng-repeat="category in filteredCategories track by $index" ng-click="toggleCategoryFromNav(category); isInNav = !isInNav"
                            class="category-wrapper">{{category.name}}
                            <span class="float-right" ng-if="!categoryIsInNavBar(category)">
                                <img src="/public/img/svg-icons/add.svg" class="img-fluid add-remove">
                            </span>
                            <span class="float-right" ng-if="categoryIsInNavBar(category)">
                                <img src="/public/img/svg-icons/substract.svg" class="img-fluid add-remove">
                            </span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <h3 class="text-center">Μπάρα Πλοήγησης</h3>
                        <div ng-repeat="category in navCategories track by $index" class="category-wrapper">
                            {{category.name}}
                        </div>
                    </div>
                    <div class="col-12 text-right" style=" margin-top: 1rem;">
                        <button type="submit" class="btn-fill">Αποθήκευση</button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="tab === 2" class="col-12">
            <form ng-submit="updateIntroText(introText)">
                <h3 class="text-center">Intro Text</h3>
                <text-angular ng-model="introText.content"></text-angular>
                <div class="col-12 text-right" style="padding:0;margin-top: 1rem;">
                    <button type="submit" class="btn-fill">Αποθήκευση</button>
                </div>
            </form>
        </div>
        <div ng-show="tab === 3" class="col-12">
            <h3 class="text-center">Banks</h3>
            <text-angular ng-model="htmlVariable"></text-angular>
            <div class="col-12 text-right" style="padding:0;margin-top: 1rem;">
                <button class="btn-fill">Αποθήκευση</button>
            </div>
        </div>
        <div ng-show="tab === 4" class="col-12 slider-tab">
            <form ng-submit="updateSlider(slider)">
                <h3 class="text-center" style="padding-left: 162px;">Slider
                    <button type="button" ng-click="startUploadingPictures()" class="btn-fill float-right">Προσθήκη Εικόνας</button>
                    <input id="picture-input" style="display: none" type="file" class="form-control" placeholder="Add new image" image-upload images="slider.images" accept=".jpg, .jpeg, .png">
                </h3>
                <div class="row">
                    <div class="col-md-4 slider-photo-col" ng-repeat="image in slider.images track by $index">
                        <img ng-src="{{image}}" class="img-fluid">
                        <span ng-click="removeFormSLider($index)">X</span>
                    </div>
                </div>
                <button type="submit" class="btn-fill">Αποθήκευση</button>
            </form>
        </div>
        <div ng-show="tab === 5" class="col-12 bank-tab">
           <div class="row">
               <div class="col-12 text-right">
                   <button class="btn-fill mb-4" data-toggle="modal" data-target="#exampleModal">Προσθήκη Νέας Τράπεζας</button>
               </div>
               <!-- <div class=""> -->
                    <div class="category-wrapper col-12">Bank
                    <span class="float-right" ng-if="!categoryIsInNavBar(category)">
                        <img src="/public/img/svg-icons/add.svg" class="img-fluid add-remove">
                    </span>
                    <span class="float-right" ng-if="categoryIsInNavBar(category)">
                        <img src="/public/img/svg-icons/substract.svg" class="img-fluid add-remove">
                    </span>
                <!-- </div> -->
               </div>
               <div class="category-wrapper col-12">Bank
                    <span class="float-right" ng-if="!categoryIsInNavBar(category)">
                        <img src="/public/img/svg-icons/add.svg" class="img-fluid add-remove">
                    </span>
                    <span class="float-right" ng-if="categoryIsInNavBar(category)">
                        <img src="/public/img/svg-icons/substract.svg" class="img-fluid add-remove">
                    </span>
                <!-- </div> -->
               </div>
           </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Δημιουργία Τραπεζικού Λογαριασμου</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form ng-submit="createBank(slider)">
              <div class="form-group">
                <label>Όνομα Τράπεζας</label>
                <input class="form-control" type="text" ng-model="name">
              </div>
                  <div class="form-group">
                    <label>Αριθμός Τραπεζικού Λογαριασμου</label>
                    <input class="form-control" type="text" ng-model="iban">
                </div>
                <div class="form-group">
                    <label>iBan</label>
                    <input class="form-control" type="text" ng-model="swift">
                </div>
                <div class="form-group">
                    <label>SWIFT</label>
                    <input class="form-control" type="text" ng-model="accountNumber">
                </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  

