/* Forms */

.material-input-form {
    padding: 0 0 .5rem 0;
    border: none;
    border-bottom: 1px solid #bbb;
    border-radius: 0;
}

.material-input-form:focus {
    outline: none;
    border-color: #2979ff;
}

/* sections */

.mat-section-padding {
    padding: 1rem;
}