/* ======================================================================================================= 
                                             Main Styling
======================================================================================================= */


/* XARIS CSS */

.mouse-hand {
	cursor: pointer;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #e4e5e6;
	color: #51493d;
}

.w-22 {
	width: 22% !important;
}

.row.stripped:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, .05);
}


/* Reset Stuff For Browser Compitabilities */


/* Remove Spinners from Input type number */

input[type='number'] {
	-moz-appearance: textfield !important;
	margin: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0 !important;
}

.form-control:focus {
	color: none;
	box-shadow: none;
	border-color: #51493d;
}


/* All Pages Styling */

.main-container {
	min-height: calc(100vh - 56px);
	padding: 3rem 1rem;
	max-width: 1140px;
}

.row.add {
	padding-bottom: 2rem;
}


/* Buttons */

.btn-outline {
	display: inline-block;
	border: 1px solid #633f22;
	color: #633f22;
	padding: 0.375rem 0.75rem;
	background: transparent;
}

.btn-fill {
	display: inline-block;
	background: #633f22;
	border: 1px solid #633f22;
	padding: 0.375rem 0.75rem;
	color: white;
}


/* ======================================================================================================= 
                                             Nav Bar
======================================================================================================= */

.navbar {
	/* background: #29363d; */
	background: #51493d;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #b9b8b8;
}


/* ======================================================================================================= 
                                             Login Page
======================================================================================================= */

.login-wrapper {
	max-width: 450px;
	margin: 0 auto;
	background: white;
	padding: 5rem 3rem;
	border: 1px solid #51493d;
}

.login-wrapper h3,
.register-wrapper h3 {
	margin-bottom: 2rem;
}

.login-page input,
.register-page input {
	border: none;
	border-bottom: 1px solid #51493d;
	border-radius: 0;
	padding-left: 0;
}

.login-page input:focus,
.register-page input:focus {
	border: none;
	/* border-bottom: 1px solid red; */
	border-radius: 0;
	transition: border 2s linear;
}

.login-page .form-group,
.register-page .form-group {
	margin-bottom: 2rem;
}

.login-page .form-group,
.register-page .form-group {
	position: relative;
}

.login-page .test,
.register-page .test {
	position: absolute;
	bottom: 6px;
	left: 0px;
	pointer-events: none;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.login-page .login-wrapper input:focus~.test,
.login-page .login-wrapper input:valid~.test,
.register-page .register-wrapper input:focus~.test,
.register-page .register-wrapper input:valid~.test {
	bottom: 30px;
}

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before,
.bar:after {
	content: '';
	height: 1px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #5264ae;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}


/* active state */

input:focus~.bar:before,
input:focus~.bar:after {
	width: 50%;
}


/* ======================================================================================================= 
                                             Login Page
======================================================================================================= */

.register-wrapper {
	max-width: 600px;
	margin: 0 auto;
	background: white;
	padding: 5rem 3rem;
	border: 1px solid #51493d;
}

.register-page .test {
	left: 1rem;
}


/* ======================================================================================================= 
                                             Products Page
======================================================================================================= */

.product-listing table th:last-child {
	width: 256px !important;
}

.product-listing table td,
.product-listing table th {
	vertical-align: middle;
}

.product-listing table td:last-child {
	text-align: right;
}

.product-listing table img {
	max-width: 25px;
}


/* New Product Page
======================== */

@media (min-width: 576px) {
	#registerModal .modal-dialog {
		max-width: 650px;
		margin: 30px auto;
	}
}

div#registerModal {
	padding-left: 0 !important;
}

#registerModal input.form-control {
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 0;
}


/* ======================================================================================================= 
                                             Product Page
======================================================================================================= */

.featured-btn img {
	position: absolute;
	max-width: 25px;
	top: 0;
	right: 0;
}

.product-page #dropdownMenuButton {
	width: 100%;
}

.product-page .dropdown-menu {
	width: 100%
}


/* ======================================================================================================= 
                                            Category Page
======================================================================================================= */

.white-wrapper {
	background: white;
	padding: 3rem 2rem;
}

.category-wrapper.ng-scope {
	background: whitesmoke;
	padding: .75rem;
	margin-bottom: .5rem;
}


/* ======================================================================================================= 
                                             Footer
======================================================================================================= */

footer {
	background: #29363d;
	color: white;
}