<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#/">Αρχική</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/products">Προϊόντα</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#/categories">Κατηγορίες</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/shippings">Τρόποι Αποστολής</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/site-sections">Site Sections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/orders/page/1">Παραγγελίες</a>
            </li>
            <li class="nav-item" ng-controller="login" ng-show="isLoggedIn">
                <a class="nav-link" href="" ng-click="onLogout()" style="color:white">Logout</a>
            </li>
        </ul>
    </div>
</nav>